.section-about {
    background-image: url("../resources/images/bg_about_me.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: left;
}

.text-about {
    text-align: justify;
    margin: 10%;
    padding-left: 30%;
    text-shadow: 0 0 5px #fafbfd;
}

@media screen and (max-width: 837px) {
    .section-about {
        background-position: bottom;
        background-image: url("../resources/images/bg_about_me_opacity.png");
    }

    .text-about {
        padding-left: 0;
    }
}
