.section-about {
    background-image: url("../resources/images/bg_about_me.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-about {
    opacity: .8;
    margin: 0 10%;
    max-width: 500px;
}

.text-about {
    text-align: justify;
    background-color: rgb(253, 253, 253);
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
}

