.section-experience {
    padding: 60px 0;
}

.text-section {
    text-align: justify;
    margin: 0 10%;
    text-shadow: 0 0 8px #fafbfd;
}

.accordion-button {
    position: static;
}
