.section-projects {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    position: static;
    width: 500px;
    text-align: justify;
    margin-bottom: 60px;
}

.sub-text-card {
    font-size: 13px;
}

.btn-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .btn {
    margin: 3px 0;
 }