.section-skills {
    padding: 60px 0;
}

.col {
    margin: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-skills {
    width: 100px;
    height: 100px;
}
