.section-welcome {
    background-image: url("../resources/images/bg_welcome.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.text-welcome {
    font-family: 'Comfortaa', cursive;
    text-shadow: 0 0 8px #fafbfd;
    font-weight: 700;
    margin: 80px 0 0 10%;
    text-decoration-style: solid;
}

.title-welcome {
    font-size: 40px;
    margin: 0;
}

.name-welcome {
    font-size: 50px;
    margin: 0;
}

.profesion-welcome {
    font-size: 25px;
    margin: 0;
}

.div-welcome {
    position: absolute;
    bottom: 0;
}

.geometric-img {
    width: 600px;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 991px) {
    .section-welcome {
        background-size: contain;
        background-position-y: bottom;
    }
}

@media screen and (max-width: 695px) {
    .text-welcome {
        font-weight: 600;
    }

    .title-welcome {
        font-size: 30px;
    }

    .name-welcome {
        font-size: 35px;
    }

    .profesion-welcome {
        font-size: 20px;
    }
}