body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fafbfd;
}

.section {
  padding: 5px 0;
  height: 550px;
  position: relative;
}

.navbar {
  background-color: #fafbfd;
  font-weight: 700;
}