html{
  min-height: 100%;
}

body {
  margin: 0 0 60px 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fafbfd;
  position: relative;
}

.navbar {
  background-color: #fafbfd;
  font-weight: 700;
}

.section {
  border: 5px solid red;
  min-height: 700px;
  margin: 10px 0; 
}