html{
  min-height: 100%;
}

body {
  margin: 60px 0 60px 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fafbfd;
  position: relative;
}

.navbar {
  background-color: #fafbfd;
  font-weight: 500;
  position: fixed;
  width: 100%;
  top: 0;
}

.img-logo-navbar {
  width: 80px;
}

.section {
  border: 5px solid red;
  min-height: 700px;
  margin: 10px 0; 
}

.title-section {
  width: 100%;
  margin: 30px 0 20px 0;
}

.title-section h2 {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 80px;
}